.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(MontserratSubrayada-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(MontserratSubrayada-Regular.ttf);
}

h2{
  font-family: Montserrat;
}

.ruNav{
  width: 100%;
}

h6{
  display: inline;
}

form{
  display:inline;
}

.selector{
  width: 100%;
}

p{
  display: inline;
}

.headerButton{
  border:none;
  background-color: rgba(255, 255, 255, 0.15);
  margin:auto;
}

@media (min-width: 992px) {
  .container-scroll {
    overflow-x: auto;
  }
  .container-scroll .columns-16 {
    width: 133.33333333vw;  /* = 100vw * 16/12 */
  }
  .container-scroll .columns-20 {
    width: 166.66666667vw;  /* = 100vw * 20/12 */
  }
  .container-scroll .col-md-2 {
    width: 16.66666667vw !important;
  }
}

.container-scroll > .row {
  margin-top: 24px;
}
.container-scroll > .row > .col-md-2 {
  font-weight: bold;
  text-align: center;
}

.addCourse{
  height: 100px;
  vertical-align: middle;
  display: table-cell;
  text-align: middle;
  width: 16.66666667vw;
  background-color: #0d6efd;
  color: white;
}

.loginPage{
  height: 80vh;
  vertical-align: middle;
  display: table-cell;
  text-align: middle;
  width: 100vw
}